.App {
  border: 2px solid rgb(221, 194, 40);
  border-radius: 70px;
  padding: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: block;
  font-size: 30px;
  font-weight: 200;
  line-height: 29px;
  margin: 0 auto;
  color: rgb(48, 33, 33);
  max-width: 700px;
}

.App .h1 {
  margin-left: 20px;
}

.footer {
  color: rgb(48, 33, 33);
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 20px;
}
