.App {
  border: 3px solid rgb(221, 194, 40);
  border-radius: 60px;
  padding: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  margin: 20 auto;
  color: rgb(48, 33, 33);
  max-width: 1000px;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2 {
  color: #302121;
  display: block;
  font-size: 15px;
  text-align: center;
}

.footer {
  color: rgb(48, 33, 33);
  display: flex;
  justify-content: center;
  font-size: 15px;
}
