.Weather {
  border: 2px solid rgb(197, 29, 113);
  border-radius: 70px;
  padding: 18px;
  margin: 30px auto;
  background-color: white;
  color: rgb(48, 33, 33);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Weather h1 {
  color: rgb(48, 33, 33);
  display: block;
  font-size: 36px;
  font-weight: 200;
  line-height: 29px;
  margin-left: 20px;
  padding: 12px;
}

.form-control {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

.Weather ul {
  margin-left: 20px;
  padding: 0%;
}
.Weather li {
  display: block;
  text-decoration-style: none;
  list-style: none;
  font-size: 16px;
  margin-left: 20px;
  padding: 0%;
}

.Weather img {
  height: 70px;
  position: relative;
  margin-left: 20px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(48, 33, 33);
  font-size: 50px;
  line-height: 50px;
  font-weight: 200;
}

.Weather .unit {
  color: rgb(48, 33, 33);
  font-size: 15px;
  position: relative;
  margin-bottom: 50px;
  margin-left: 5px;
  line-height: 3;
}
