.Weather {
  border: 3px solid rgb(197, 29, 113);
  border-radius: 60px;
  padding: 18px;
  margin: 30px auto;
  background-image: url(https://i.pinimg.com/564x/da/13/68/da13681b97a781c5c952f7435f825f83.jpg);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  justify-content: center;
  max-width: 1000px;
}

.Weather h1 {
  display: inline-block;
  font-size: 42px;
  font-weight: 200;
  line-height: 29px;
  padding: 12px;
  margin-left: 10px;
  color: rgb(221, 194, 40);
}

.form-control {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

.btn {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
}

.Weather ul {
  margin-left: 10px;
  padding: 0%;
}
.Weather li {
  display: block;
  text-decoration-style: none;
  list-style: none;
  font-size: 17px;
  margin-left: 10px;
  padding: 0%;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 55px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
}

.Weather canvas {
  font-size: 50px;
  line-height: 64px;
  position: relative;
}

.Weather .unit {
  font-weight: bold;
  font-size: 15px;
  position: relative;
  line-height: 50px;
  top: -24px;
  margin-left: 5px;
  color: rgb(221, 194, 40);
}
